<h2 style="text-align: center;">Angular Google Maps (AGM) Dirección UPIIZ</h2>
<agm-map [latitude]="lat" [longitude]="lng"> <!--mapa-->
  <agm-marker [latitude]="lat" [longitude]="lng"> <!--etiqueta-->
    <agm-info-window>
      <strong>UPIIZ - Unidad Profesional Interdisciplinaria de Ingeniería Campus Zacatecas IPN</strong>
      <p>Dirección: Calle Circuito del Gato 202 Ciudad Administrativa, 98160 Zacatecas, Zac</p>
      <p>Teléfono: 492 924 2419</p>
      <p>Fundación: 2009</p>
    </agm-info-window>
  </agm-marker>
</agm-map>
<!--<router-outlet></router-outlet>-->
